@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Overpass:500,600,800);

$background-color:                    #020304;
$background-color-blue:               #002235;
$font-base:                              12px;
$font-base-lg:                           16px;
$font-heading:                          4.5em;
$font-subtitle:                         2.5em;
$font-table:                            1.8em;
$font-titles:                           1.5em;
$font-weight-light:                       500;
$font-weight-bold:                        600;
$font-weight-heavy:                       800;
$color-white:           rgba(250,232,232,.95);
$color-grey:                 rgba(56,73,90,1);


/*
  -----------------------
       base styles
  -----------------------
*/

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Overpass', sans-serif;
  font-size: $font-base;
  font-weight: $font-weight-light;
  background-image: radial-gradient(75% 90% at top, $background-color-blue, #000f18 100%);
  background-color: $background-color;
  background-position: top center;
  overflow: hidden;
}


pl-leaderboard {
  position: relative;
  height: 100%;
  z-index: 2;
  color: $color-white;

  .leaders-header {
    text-align: center;
    margin: 2.2vh auto .8vh;
    width: 100%;
    line-height: 1.1em;
    word-wrap: normal;

    &:before {
      content:url('../../assets/engage-logo.svg');
      display: block;
      width: 25%;
      margin: 0 auto;
    }
  }

  article {
    margin: 1.5vh 0;
    height: 100%;
    max-height: 100%;

    section {
      width: 100%;
      vertical-align: middle;

      ul {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        list-style-type: none;
      }
    }
  }
}


/*
  -----------------------
      leader titles
  -----------------------
*/

ul.leader-titles {
  margin-bottom: 1.5vh;
  padding-bottom: .8vh; //flag - adjust padding/margin
  border-bottom: 1px solid rgba(255, 255, 255, .2);

  li {
    font-size: $font-titles;
    font-weight: $font-weight-bold;
    letter-spacing: .5px;
    padding: 0 2% .5%;
    opacity: .675;
  }
}


/*
  -----------------------
       leaders list
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rank {
    width: 15%;
    max-width: 15%;
  }

  .username {
    width: 60%;
    max-width: 60%;
    word-break: break-all;
  }

  .score {
    width: 25%;
    max-width: 25%;
    text-align: right;
  }
}

ul.leaders li {
  font-size: $font-table;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  padding: 2% 2.3% 2%;
  height: 100%;
  background-color: rgba(0,61,75,.8);
  border-bottom: 1px solid rgba(0,0,0,.5);

  &:first-child {
    padding: .5% 2.3% .65%;

    .score::before {
      content:url('../../assets/rh-icon-award-ribbon.svg');
      margin-right: 4%;
      height: 20%;
      width: 20%;
    }
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*
  -----------------------
      media queries
  -----------------------
*/

@media (min-width: 1024px) and (max-width: 1920px) {

  h1.leaders-header {
    max-width: 75vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 75vw;
    max-height: 80vh;
  }
}

@media (min-width: 1920px) {

  body {
    font-size: $font-base-lg;
  }

  pl-leaderboard article h1.leaders-header {
    max-width: 65vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 65vw;
    max-height: 80vh;
  }
}


/*
  -----------------------
    rank color gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: rgba(0,136,163,.75); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: rgba(1,128,154,.75); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: rgba(1,116,140,.75); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: rgba(0,105,126,.75); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: rgba(1,96,116,.75); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: rgba(0,86,104,.75); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: rgba(0,81,98,.75); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: rgba(0,74,90,.75); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: rgba(0,68,82,.75); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: rgba(0,61,75,.75); }

@import "animations.scss";
